section#heading {
  height: 100%;
  background: url("../../imgs/bg.jpg") no-repeat center center;
  background-size: cover;

  header {
    position: absolute;
    top: 0;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 20;

    .row {
      padding: 40px 0;

      a {
        color: white;
        text-decoration: none;
      }

      h1 {
        font-weight: 700;
        font-size: 22px;
      }

      ul {
        font-family: "Source Sans Pro", sans-serif;
        text-align: right;
        z-index: 10;

        li {
          display: inline-block;
          font-size: 16px;
          margin-right: 30px;
          position: relative;


          &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 0;
            height: 2px;
            background: white;
            transition: 0.2s all ease-in-out;
            text-align: center;
          }

          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .overlay {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .heading-content {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    position: relative;

    #typed {
      font-size: 4em;
      font-weight: 400;
      b {
        font-weight: 600;
      }
    }

    a {
      position: absolute;
      bottom: 20px;
      left: 50%;
      z-index: 2;
      display: inline-block;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      transition: opacity .3s;
      padding-top: 60px;

      span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 30px;
        height: 50px;
        margin-left: -15px;
        border: 2px solid #fff;
        border-radius: 50px;
        box-sizing: border-box;

        &:before {
          position: absolute;
          top: 10px;
          left: 50%;
          content: '';
          width: 6px;
          height: 6px;
          margin-left: -3px;
          background-color: #fff;
          border-radius: 100%;
          -webkit-animation: sdb10 2s infinite;
          animation: sdb10 2s infinite;
          box-sizing: border-box;
        }
      }
    }
  }
}
